
img.emoji{
    width:%dpx;
    height:%dpx;
    border:0;
}
img.sextag{
    width:%dpx;
    height:%dpx;
    border:0;
}

span.username{
    line-height:%f;
    font-size:%dpx;
    color:%@;
    text-align:%@;
    font-weight:%@;
    font-family:%@;
}
span.college{
    line-height:%f;
    font-size:%dpx;
    color:%@;
    text-align:%@;
    font-weight:%@;
    font-family:%@;
}
span.startscore{
    line-height:%f;
    font-size:%dpx;
    color:%@;
    text-align:%@;
    font-weight:%@;
    font-family:%@;
}
span.score{
    line-height:%f;
    font-size:%dpx;
    color:%@;
    text-align:%@;
    font-weight:%@;
    font-family:%@;
}

span.profile{
    line-height:%f;
    font-size:%dpx;
    color:%@;
    text-align:%@;
    font-weight:%@;
    font-family:%@;
}
